body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
    font-family: 'Baloo Paaji', cursive;
    background-image: url(http://wallpapercave.com/wp/nsbP94r.jpg);
}

h1 {
    font-size: 3em;
  font-family: 'Baloo Paaji', cursive;
}

p, button, input {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
	margin-bottom:1em;
  font-family: 'Baloo Paaji', cursive;

}

#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:500px;
	height:500px;
  font-family: 'Baloo Paaji', cursive;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid black;
	width:50px;
	height:50px;
}

.boardSquare {
  text-align: center;
  font-family: sans-serif;
  line-height: 50px;
}

#instructionsArea {
  position:relative;
  margin:0 auto 2em auto;
  width:500px;
  
}
